body
{
    display: flex;
    flex-direction: column;
}

ul
{
    list-style: none;
}

.header
{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.sec1
{
    background-color: white;
}

.sec2
{
    background-color: #E5E7EB;
}

.sec3
{
    background-color: white;
}

.footer
{
    background-color: #1F2937;
}

.navigation
{
    display: flex;
    justify-content: space-between;
}

.nav-links
{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.left-header-content h2
{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}